#mainHeading {
    color: red;
}

body {
    margin: 8px;
    padding: 25px 50px 25px 25px;
    border: 1px solid red;
}

#testP{
   text-align: center; 
   color : green;
}
.funParagraph {
    color : green;
}



   

     
      
